.posts
  - posts.each do |post|
    - @post_like = post
    .post
      .post-date
        .post-date-num= post.created_at.strftime('%d')
        .post-date-month= post.created_at.strftime('%B')
      .post-title
        %h2
          =link_to post.subject, show_post_comments_path(post), class: 'link-large'
        .posted-by
          %span By
          %b= post.admin.nick
          %span= "on #{post.created_at.strftime('%d %b %Y %H:%M')}"
      .post-like-buttons
        - @post_like = post
        = render partial: 'users/social_section', :title => "I wanna share"
      .post-description-short
        = strip_tags(post.message).truncate 800
      =link_to 'read more', show_post_comments_path(post), class: 'btn-red-small'
  = will_paginate posts, class: 'posts-pager', previous_label: '', next_label: '', link_separator: ' - '