.center
  .item
    %h2
      = @post.subject
    .by
      ="Posted by #{@post.admin.nick}@#{@post.created_at}"
    = raw @post.message
    .more
      &nbsp;
      - @post.tags.all.each do |tag|
        |
        = link_to tag.name, tags_path(tag.name)
  %g:plusone{:size => "medium"}
  .comments
    %h2
      Comments
  %ul.tabs

    %li
      %a{href: "#comment"} Comments
    %li
      %a{href: "#fb"} Facebook Comment
    - @post.comments.each do |comment|
      = render :partial => 'comment', :locals => {:comment => comment}
    .clear
    .tabs-content
      %ul
        %li#comment
          %h2
            Leave a comment
          .comment
            = form_for :comment, :url => create_comment_path, :html => {:id => "comment"} do |f|
              %strong
                =f.label :author
                =f.text_field :author, :value => current_admin.try(:nick)
              .avatar
                %span
                .message
                  =f.text_area :content
                  .submit
                    =f.submit :save
                    .captcha_field
                      = render :partial => "captcha"
        %li#fb
          = render :partial => "fb"
          .clear
          %center.g_banner
            = render :partial => "banner_big"

