.post
  .post-date
    .post-date-num= @post.created_at.strftime('%d')
    .post-date-month= @post.created_at.strftime('%B')
  .post-like-buttons
    = render partial: 'posts/social_section', title: 'I wanna share', locals: {post: @post}
  .post-title-with-btn
    %h2
      =@post.subject
    .posted-by
      %span By
      %b= @post.admin.nick
      %span= "on #{@post.created_at.strftime('%d %b %Y %H:%M')}"
  .post-description
    = raw @post.message
  .post-tags
    - @post.tags.all.each do |tag|
      |
      = link_to tag.name, posts_by_tag_path(tag.name)
  .comments
    %h2
      Comments
  %ul.tabs

    %li
      %a{href: "#comment"} Comments
    %li
      %a{href: "#fb"} Facebook Comment
    - @post.comments.each do |comment|
      -#= render :partial => 'comment', :locals => {:comment => comment}
    .clear
    .tabs-content
      %ul
        %li#comment
          %h2
            Leave a comment
          .comment
            -#= form_for @post.comments.build, url: create_comment_path(@post), method: :post, remote: true do  |f|
              -#= f.text_field :author, :value => current_admin.try(:nick)
                -#= form_for :comment, :url => create_comment_path, :html => {:id => "comment"}, method: :post do |f|
              %strong
                = f.hidden_field :post_id, value: @post.id
                = f.label :author
                = f.text_field :author, :value => current_admin.try(:nick)
              .avatar
                %span
                .message
                  =f.text_area :content
                  .submit
                    .captcha_field
                      = render :partial => "captcha"
                    =f.submit :save

        %li#fb
          -#= render :partial => "fb"
          .clear
  .clear
  %center.g_banner
    -#= render :partial => "banner_big"